/* ----- FONTS/IMPORTS ----- */
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Syne&display=swap');

/* ----- COLORS ----- */
/* Color Theme Swatches in Hex */
.Glacial-Ice-1-hex { color: #256670; }
.Glacial-Ice-2-hex { color: #99E6F2; }
.Glacial-Ice-3-hex { color: #4FDAF0; }
.Glacial-Ice-4-hex { color: #476B70; }
.Glacial-Ice-5-hex { color: #3EACBD; }

/* Color Theme Swatches in RGBA */
.Glacial-Ice-1-rgba { color: rgba(37, 102, 112, 1); }
.Glacial-Ice-2-rgba { color: rgba(153, 230, 242, 1); }
.Glacial-Ice-3-rgba { color: rgba(79, 218, 240, 1); }
.Glacial-Ice-4-rgba { color: rgba(71, 107, 112, 1); }
.Glacial-Ice-5-rgba { color: rgba(62, 172, 189, 1); }

/* ----- BODY/HEADERS ----- */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Syne', sans-serif;
}

.center {
    text-align: center;
}

/* ----- HEADER ----- */
/* ----- Header ----- */
.header {
    display: grid;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(71, 107, 112, 0.9);
    color: white;
    font-size: 72px;
    font-weight: 800;
    text-shadow: 5px 4px 5px #222;
    box-shadow: 5px 4px 5px rgba(71, 107, 112, 0.88);
}

.headline {
    font-family: 'Play', sans-serif;
    letter-spacing: 2px;
}

.header ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    font-size: .25em;
}

.header li {
    display: inline;
    padding: 5px 15px;
}

/* ----- Navbar ----- */
.navbar {
    list-style-type: none;
    height: 40px;
    margin: 0 auto;
    background-color: #333;
    color: white;
    padding: 10px 50px;
}

.navbar li {
    display: inline;
    padding: 5px 10px;
}

.navbar li a {
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    color: lightblue;
}

/* ----- Menu Button ----- */
.menubtn {
    background-color: #333;
    width: 80px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    /* border-radius: 0 0 8px 0; */
    cursor: pointer;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline;
    float: left;
    z-index: 1;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0 8px 8px 0;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .menubtn {
    background-color: #3EACBD;
}

/* ----- MAIN ----- */
.container {
    width: 85%;
    height: 100%;
    margin: 0 auto 20px auto;
    padding: 1.25em;
    /* background-image: linear-gradient(#D6E0C1, #84AD84); */
    /* background-image: linear-gradient(#99E6F2, #4FDAF0, #3EACBD); */
    background-image: linear-gradient(#CCD9B0, #ABBF7E);
    opacity: 0.7;
}

.container p {
    margin: 4px 0;
}

section:nth-of-type(odd) {
    margin: 0.5em auto;
    padding: 0.25em 0;
    border: 1px solid #25667050;
    border-left: 3px solid #A38C3B;
    border-bottom: 3px solid #A38C3B;
    border-radius: 0 8px 2px 8px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
}

section:nth-of-type(even) {
    margin: 0.5em auto;
    padding: 0.25em 0;
    border: 1px solid #25667050;
    border-right: 3px solid #A38C3B;
    border-bottom: 3px solid #A38C3B;
    border-radius: 8px 0 8px 2px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
}

.section-header {
    display: block;
    margin: 0 0.75em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

/* Secret fucking responsive sauce right here! */
.flex-container > * {
    flex: 1 1 160px;
}

article {
    max-width: 100%;
    margin: 0.5em;
    padding: 0.75em;
    /* background-color: #256670; */
    background-color: #3EACBD;
    border-radius: 10px;
    opacity: 0.8;
    align-self: flex-start;
}

.iframe-demo {
    flex: 50%;
    height: 600px;
    flex-direction: column;
}

article iframe {
    width: 100%;
    height: 95%;
    align-items: center;
}

code {
    font-family: monospace;
    padding: 2px 3px;
    background-color: white;
    color: red;
    border-radius: 4px;
}

/* ----- FOOTER ----- */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}